.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  --sidebar-width: 200px;
}

.App .sidebar {
  width: var(--sidebar-width);
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px #ccc;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.App .sidebar ul {
	width: 100%;
}

div.vertical-checkboxes-container {
	display: flex;
	flex-direction: column;
}

.App .content {
  width: calc(100% - var(--sidebar-width));
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

div.input-group {
	  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
